.body{
    background-image: url(/static/imgs/clouds.jpg);
}

.body-content{
    max-width: 100%;
    margin-top: 100px;
    background-color: crimson;
    border:None;
    border-radius: 10px;
    padding:10px;
    font-family: 'Courier New';
    text-align: center;
}

#city{
    font-weight: bolder;
    font-size:x-large;
}
#desc{
    font-weight: bold;
    color: whitesmoke;
}

#temp{
    color:whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Lucida Sans';
}

.back{
    
    text-decoration: none;
    background-color: darksalmon;
    color:whitesmoke;
    font-size: medium;
    font-family: 'Courier New';
    padding:7px;

}

.back:hover{
background-color:lightcoral;

}

